* {
    margin: 0;
    padding: 0;
}
.navBar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    background-color: whitesmoke;
}
.navBar0 img {
    width: 53px;
    height:50px;
}
.navBar1 {
    display: flex;
    position: absolute;
    left: 130px;
}
.navBar1 li {    
    padding-right: 25px;
    font-size: 15px;
    list-style: none;
    font-weight: 500;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}

.navBar2 {
    position: relative;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 4px;
    margin-left: 370px;
}
.navBar2 > i {
    font-size: 15px;
    margin-left: 10px;

}
.navBar2 input {
    border: none;
    padding: 10px;
    width: 300px;
    outline: none;
    background-color: whitesmoke;
    padding-left: 10px;
}
.navBar3 {
    display: flex;
    list-style: none;
    position: relative;
    right: 10%;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}
.navBarLast {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.navBarLast p {
    font-weight: 600;
    padding-top: 3px;
}